:root{
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
a{
    text-decoration: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
/* Ventana Emergente */
.fondo{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.ventana{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    color: #010102;
    font-size: x-large;
    border-radius: 30px;
}
.cerrar{
    color: #232222;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.cerrar:hover .cerrar:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21, 1, 1, 0.339);
    width: 100%;
    height: 50px;
    padding: 40px;
    margin: 0;
    position: sticky;
    top: 0;
    backdrop-filter: blur(18px);
}
.menu{
    display: flex;
}
.menu ul li a {
    text-decoration: none;
    color: #14030388;
    text-transform: uppercase;
    font-size: 20px;
}
.navbarul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar-list{
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    block-size: 80px;
}


.tituloIntitucional{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding-left: 210px;
}
.h1tituloInstitucional{
    background: linear-gradient(to right, #153E90, #0d71dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    width: 100%;
    min-height: 100%;
    font-family: "Exo", Arial, sans-serif;
    color: #e5e8e9;
    display: flex;
    flex-direction:column;
    gap: 50px;
    padding: 1px;
    background:url("https://th.bing.com/th/id/R.10c72284c51ef2620de0d8c8c7d2fefe?rik=xLnH8JGJamnatQ&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
}
.titulo1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.animate-charcter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #12a51c 10px,
        #630808b5 29%,
        #ff1361 67%,
        #6ec137 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 70% auto;
  color: #331c1c;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
    font-size: 20px;
}
.h1tituloJavascript {
    font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: center;
  }
}
  

.number, .string, .arrays, .iteradores {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    gap: 20px;
    border-radius: 30px;
    border: 3px inset black;
    animation: border-animation 3s infinite;
}

@keyframes border-animation {
    0% {border-color: rgba(67, 13, 13, 0.709);}
    25% {border-color: orange;}
    50% {border-color: yellow;}
    75% {border-color: green;}
    100% {border-color: blue;}
}

.tituloNumbers {
    text-align: center;
    display: flex;
    font-size: 200px;
    border-bottom: 4px inset black;
    border-top: 4px inset black;
    margin-top: 50px;
}
/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

.blur-in-expand{
    animation:blur-in-expand 1.9s linear both
} @keyframes blur-in-expand{
    0%{
    transform:scale(0);
    filter:blur(12px);
    opacity:0
    }
    100%{
    transform:scale(1);
    filter:blur(0);
    opacity:1
    }
}
.blur-in-expand2{
    animation:blur-in-expand 3.9s linear both
} @keyframes blur-in-expand{
    0%{
    transform:scale(0);
    filter:blur(12px);
    opacity:0
    }
    100%{
    transform:scale(1);
    filter:blur(0);
    opacity:1
    }
}
.ejercicio1, .ejercicio2, .ejercicio3 {
    text-align: center;
}
.ejercicio1 {
    box-sizing: border-box;
    padding: 20px;
    block-size: auto;
  
}
.numbers2, .string2, .arrays2, .iteradores2{
    border-radius: 30px;
    box-shadow: 15px 15px 20px #1435f3c3;
}
.scale-up-center{
    animation:scale-up-center 1.1s; 
} @keyframes scale-up-center{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }  

.pejecicio1{
    box-sizing: border-box;
    padding: 20px;
    background-image: linear-gradient(to bottom, #1e5799, #2989d8, #207cca, #7db9e8);
    color: #010102;
    font-weight: bold;
}
.h2ejercicio1{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: cursive;
    color: black;
    animation: luminosidad 2s infinite;
    background: linear-gradient(to right, #8499f8bb, #c3e2fff8);

}
@keyframes luminosidad {
    0% {
      filter: brightness(100%);
    }
    50% {
      filter: brightness(200%);
    }
    100% {
      filter: brightness(100%);
    }
}
.conjunto{
    display: flex;
    flex-direction: row;
}
.conjunto2, .conjunto3, .conjunto4{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.logica{
    border-right: 1px solid black;
    padding: 0 25px;
}
.logica2{
    padding: 0 25px;
}
.shake-left-right{
    animation:shake-left-right 1s linear both;
    background-color: #ed9a9a82;
    
} @keyframes shake-left-right{
    0%,100%{
        transform:rotate(0deg);
        transform-origin:50% 50%
        }
    10%{
        transform:rotate(8deg)
        }
    20%,40%,60%{
        transform:rotate(-10deg)
        }
    30%,50%,70%{
        transform:rotate(10deg)
        }
    80%{
        transform:rotate(-8deg)
        }
    90%{
        transform:rotate(8deg)
    }
}

.contendor-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgba(18, 40, 40, 0.37);
    width: 100%;
    height: 50px;
}
.footer-img{
    display: block;
}
.footer-p{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color:  #030e3ebb;
    font-size: 15px;
}
.footer-contact{
    display: flex;
    gap: 5px
}
.img-iconos{
    display: block;
    width: 50px;
}

/* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

